
.wrapper {
  width: 100%;
  position: relative;
  margin: 10px 0;
}

.textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  transition: all .5s ease;
  resize: none;
}

.label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  color: #C4C4C4;
  transition: all .5s ease;
  font-size: 15px;
}

.textarea:focus + .label,
.textarea:valid + .label {
  top: -7px;
  background: #fff;
  padding: 0 5px;
  font-size: 13px;
  color: #48409E;
}

.textarea:focus,
.textarea:valid {
  border: 1px solid #48409E;
}