
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(4px);
    z-index: 50;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    
}


.popupWrapper {
    background-color: #BFB9FF;
    padding: 10px;
    border-radius: 15px;
    z-index: 50;
    
}

.popup {
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    padding: 25px;
    z-index: 50;
    
}