
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(4px);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.popupWrapper {
    background-color: #BFB9FF;
    padding: 10px;
    border-radius: 15px;
}

.popup {
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    padding: 25px;
}